body {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(149, 205, 149);
}

.header__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
}